<!--Template for team page-->

{% if include.select == "professor" %}
  {% assign member_id_group = site.team_members.professor %}
  {% assign member_data_group = site.data.team_members.professor %}
{% elsif include.select == "postdocs" %}
  {% assign member_id_group = site.team_members.postdocs %}
  {% assign member_data_group = site.data.team_members.postdocs %}
{% elsif include.select == "phd_students" %}
  {% assign member_id_group = site.team_members.phd_students %}
  {% assign member_data_group = site.data.team_members.phd_students %}
{% elsif include.select == "visitings" %}
  {% assign member_id_group = site.team_members.visitings %}
  {% assign member_data_group = site.data.team_members.visitings %}
{% elsif include.select == "masters_undergrads" %}
  {% assign member_id_group = site.team_members.masters_undergrads %}
  {% assign member_data_group = site.data.team_members.masters_undergrads %}
{% endif %}

{% assign team = "" | split: "" %} <!-- Empty array to start -->
{% for member_id in member_id_group %}
  {% assign member = member_data_group[member_id] %}
  {% assign team = team | push: member %}
{% endfor %}

<!--For two columns-->
<!--<div class="d-flex flex-wrap">
   -  [> Each team member is 50% width for a 2-column layout <]
   -  <div class="team-member" style="width: 50%;">
   -    [> Team member details <]
   -  </div>
   -  <div class="team-member" style="width: 50%;">
   -    [> Team member details <]
   -  </div>
   -  [> More team members <]
   -</div>-->

<div class="team-section">
  {% for member in team %}
    <div class="d-flex team-member">
      <!--<div class="flex-shrink-0 me-3">-->
      <div class="flex-grow-0 me-3">
        {% if member.image %}
          <!--<img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="img-fluid" style="max-width: 80%; width: 300px; height: auto;">-->
          <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" style="width: 300px; height: auto;">
          <!--<img src="{{ member.image | relative_url }}" alt="{{ member.name }}">-->
        {% endif %}
      </div>
      <div>
        <h5 id="{{ member.name | strip | url_encode }}">
          {{ member.name }}
          {% if member.role %}
            <small class="text-muted">| {{ member.role }}</small>
          {% endif %}
        </h5>

        {{ member.description | markdownify }}

        <ul class="list-inline">
          {% if member.orcid %}
            <li class="list-inline-item">
              <a href="https://orcid.org/{{ member.orcid }}"><i class="ai ai-orcid"></i></a>
            </li>
          {% endif %}

          {% if member.researchgate %}
            <li class="list-inline-item">
              <a href="https://researchgate.net/profile/{{ member.researchgate }}"><i class="ai ai-researchgate"></i></a>
            </li>
          {% endif %}
          
          {% if member.googlescholar %}
            <li class="list-inline-item">
              <a href="https://scholar.google.com/citations?user={{ member.googlescholar }}"><i class="ai ai-google-scholar"></i></a>
            </li>
          {% endif %}

          {% if member.twitter %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ member.twitter }}"><i class="fab fa-twitter"></i></a>
            </li>
          {% endif %}

          {% if member.mastodon %}
            <li class="list-inline-item">
              <a href="{{ member.mastodon }}"><i class="fab fa-mastodon"></i></a>
            </li>
          {% endif %}

          {% if member.github %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ member.github }}"><i class="fab fa-github"></i></a>
            </li>
          {% endif %}

          {% if member.email %}
            <li class="list-inline-item">
              <a href="mailto:{{ member.email }}"><i class="far fa-envelope"></i></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
