<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <main>
      {% if page.background.size > 1 %}
        {% include carousel.html height="25" unit="%" duration="10" %}
      {% elsif page.background.size == 0 %}  
        {% include header.html %}
      {% else %}
        {% include header.html %}
      {% endif %}  

      <div class="container content">
          
        {{ content
          | replace: '<table', '<div class="table-responsive"><table'
          | replace: '</table>', '</table></div>'
          | replace: '<table>', '<table class="table">'
        }}

      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
